body{
    margin:0
}

header{
    background: #111111;
    padding: 40px 160px;
    display: flex;
    justify-content: space-between;
}
.white{

    color:white;
}
.blue{
    color:#0FA2DB;
    
}
.left{
    display: flex;
    align-items: center;
    }
.cancel_membership{
    background-color: #2F2F2F;
    padding: 15px ;
    border-radius: 5px;
    color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    padding: 30px 160px;
    color:#FFFFFF

}