@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #ffffff;
}



 /*Header plus Banner*/
header{
    background: #111111;
    padding: 40px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.white{

    color:white;
}
.blue{
    color:#0FA2DB;
}
.left{
    display: flex;
    align-items: center;
    }
.cancel_membership, .cancel_membership:visited {
    transition: 0.4s;
    justify-content: space-between;
    background-color: #2F2F2F;
    padding: 15px ;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.cancel_membership:hover{
    background-color: #FFFFFF;
    color: #232323;
}
nav{
    display: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    padding: 25px 160px;
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}   
.nav_left{
    color:#FFFFFF
}

 /*Page with download button*/
.download{
    background-color: #0C0C15
    
}
.top_download{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 100px 0px;
}
.left_download{
    width: 60%;
    height: 60%;
    
}
.right_download{
    
    display: flex;
    flex-direction: column;
}
.tr_download{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.tr_download h1{
    color: #0FA2DB;
}
.tr_download p{
    color: #FFFFFF;
}
.bluedownload{
    color: #0FA2DB;
    font-size: 35px;
}
.whitedownload{
    color: #FFFFFF ;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
.br_download{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #232323;;
    padding: 20px 20px ;
    align-items: center;
}
.dl_txt{

    color: #FFFFFF;
    font-size: 23px;
    padding-bottom: 10px;
}
.dl_button{
    font-size: 23px;
    padding: 10px 60px 10px 60px ;
    border-radius: 15px;
    color: #ffffff;
    background-color: #0FA2DB;
    cursor: pointer;
    transition: 0.4s;
}
.dl_button:hover{
    color: #0FA2DB;
    background-color: #FFFFFF;
   
}
.subttl{
    color: #FFFFFF;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.bot_download{
    background-color: #111111;
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 10px 50px;
}
.flechebas{
    margin-bottom: 20px;
}

 /*Line with checkmark*/
.check{
    display: flex;
    align-items: center;
}
 /*Part 2 with  Why VPN*/
.why_vpn{
    background-color:#0C0C15 ;
    padding: 80px;
    
}
.vpn_title{
    font-size: 30px;
    color:#0FA2DB ;
    text-align: center;
}
.vpn_text{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    display: flex;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.vpn_title h1{
    margin: 0;
    padding: 40px;
}

/* features */
.features{
    text-align: center;
    padding: 50px 0px ;
    background-color: #060606;
}
.f_titles{
    color:#0FA2DB;
    font-size: 30px;
    text-align: center;
}
.bot_features{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}
.description_features{
    display: flex;
    flex-direction: column; 
    padding: 0 5%;  
}
.description_features a:hover{
    color: #0FA2DB;
    transition: 0.4s;
}
.description_features img{
    padding-bottom: 20px;
}
/* three step */
.three_steps{
    background-color: #232323;
    
}

.top_three_steps{
    font-size: 25px;
    text-align: center;
    padding-top: 30px;

}

.white_three_steps{
    color: #FFFFFF;
}

.blue_three_steps{
    color: #0FA2DB;
}

.bottom_three_steps{
    padding: 35px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.description_three_steps{
    display: flex;
    flex-direction: column;
}
.case_ts{
    height: 90px;
    width: 90px;
    border:4px solid #0FA2DB;
    clip-path: ellipse(100px 100px);
    border-radius: 50%;
    padding: 20px;
}



/* protection */
.protection{
    background-color: #060606;
    padding-top: 120px ;
}

.top_protection{
    text-align: center;
    font-size: 30px;
    padding-bottom: 130px;
}

.white_protection{
    color: #FFFFFF;
}

.blue_protection{
    color: #0FA2DB;
}

.bottom_protection{
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
}
.right_protection{
    position:relative;
    bottom: -5px ;
    right: 0px;
    
}
.left_protection{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.lt_prot h2{
    color: #FFFFFF;
    font-size: 30px;
}

.lm_prot{
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.lb_prot{
    padding-bottom: 80px;
}
.check_prot{
    display: flex;
    align-items: center;
    margin: 9px 0px 9px 0px;
}

@media screen and (max-width:1620px){
    .bot_features{
        flex-wrap: wrap;  
        padding: 0 5%;
    }
    
}
@media screen and (max-width:1320px){
    .vpn_image{
        height: 110%;
        width: 110%;
    }
    .br_download{
        text-align: center;
    }
    .tr_download{
        text-align: center;
    }
    .bot_features{
        flex-wrap: wrap;
        padding: 0 5%;
    }
    
}
@media screen and (max-width:1250px){
    .bot_features{
        flex-wrap: wrap;
        padding: 0 5%;
    }
}
@media screen and (max-width: 1024px){
    nav{
        justify-content: center;
        text-align: center;
        justify-content: space-between;
    }
    .top_download{
        padding: 30px 100px;
    }
}    
@media screen and (max-width:1000px){
       .right_protection{
        display: none;
       } 
}
@media screen and (max-width: 968px){
    nav{
        text-align: center;
        justify-content: space-between;
        flex-wrap: unset;
    }
    .left_download{
        display: none;
        
    }
    .top_download{
        justify-content: center;
    }
    .right_download{
        align-items: center;
    }

    .bottom_three_steps{
        flex-direction: column;
        align-items: center;
        
    }
    .description_three_steps{
        padding: 10px;
    }    
}
@media screen and (max-width: 680px){
    .cancel_membership{
        
        margin: 11px;
        display: inline-block;
    }
    header{
        justify-content: center;
    }
    .left{
        margin-bottom: 8px;
    }
    nav{
        justify-content: center;
        text-align: center;
    }
    .nav_right{
        padding-top: 10px;
    }
    main{
        justify-content: center;
    }
    .left_download{
        display: none;
    }
    .right_download{
        
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        
    }
    .top_download{
        justify-content: center ;
        padding: 0px;
    }
    .br_download{
        display: flex;
        justify-content: center;
    }
    .bot_download{
        flex-direction: column;
        justify-content: center;
    }
    .check{
        padding-top:10px;
    }
    .top_protection h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 500px){
    .cancel_membership{ 
        padding: 10px;
        padding-top: 8px;
    }
    .bluedownload{
        font-size: 22;
    }
    .whitedownload{
        font-size: 15px;
    }
    .white_three_steps{
        font-size: 23px;
    }
    .blue_three_steps{
        font-size: 23px;
    }
    .nav_left{
        display: block;
        margin: 10px; 
    }
    nav{
        display: block;
        padding: 25px;
    }
    .bot_download{
        padding: 50px 20px;
    }
    .vpn_text{
        font-size:23px;
    }
    .vpn_title h1{
        font-size: 30px;
    }
    .why_vpn{
        padding: 50px 30px;
    }
    .features{
        padding: 100px 160px;
    }
    .f_titles h1{
        font-size: 33px;
        padding: 0px 10px;
    }
    .left_protection{
        padding: 0px;
    }
    .bottom_protection{
        padding-left: 50px;
    }
}
/* aside */
aside{
    background-color: #232323;
    color: #FFFFFF;
}

.top_aside{
    display: flex;
    justify-content: space-between;
    padding: 140px 115px 70px 115px;
}

.box_aside{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 0px 20px;
}

.box_aside h1{
    font-size: 16px;
}

.box_aside a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    justify-content:center;
}

.bottom_aside{
    padding: 0px 440px 70px 440px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.bottom_aside a:hover{
    color: #0FA2DB;
    transition: 0.4s;
}

/* footer */
footer{
    padding: 50px 410px 40px 410px;
    background-color: #111111;
    color: #FFFFFF;
    text-align: center;
    
}
footer a{
    font-size: 23px;

}
